@using Shoelace.Views.Extensions
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }

    public static string GetApplicationBaseUrl()
    {
        var hlr = new UrlHelper(HttpContext.Current.Request.RequestContext);
        return string.Format("{0}://{1}{2}", HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Authority, hlr.Content("~"));
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="@GetApplicationBaseUrl()" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/Content/css")
    @Html.RenderPartialResources("css")
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/modernizr")
</head>

    <body>
        <form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form> 
    @*<input id="__antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />*@

    @*@Html.Partial("_NavbarTop")*@
    @Html.Action("_NavbarTop", "Navigation")
    <div class="container-fluid">
        <div class="row-fluid">
            <div id="sidebar" class="span3">
                @*@Html.Partial("_NavbarSide")*@
                @Html.Action("_NavbarSide", "Navigation")
            </div>
            <div id="content" class="span9">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <p>© Company Name 2013</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/App")

    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    @Html.RenderPartialResources("js")
</body>
</html>